body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

h1 {
    margin-top: 20px;
}

#editProfileForm {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

input[type="text"],
textarea {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#saveChangesButton {
    background-color: #f00606;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-top: 20px;
    border-radius: 5px;
}

#saveChangesButton:hover {
    background-color: rgb(12, 4, 4);
}

#saveChangesButton:focus {
    outline: none;
}

#errorMessage {
    margin-top: 10px;
}

/* Adicione mais estilos conforme necessário */

::-webkit-scrollbar{
    width: 12px;
    background-color: red;
}

::-webkit-scrollbar-thumb{
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}
.custom-button {
    margin-top: 10px; /* Adiciona um espaço superior */
    background-color: #fa0000; /* Cor de fundo do botão */
    color: white; /* Cor do texto */
    border: none; /* Remove a borda */
    padding: 10px 20px; /* Espaçamento interno */
    border-radius: 5px; /* Borda arredondada */
    transition: background-color 0.3s; /* Adiciona uma transição suave na cor de fundo */

    /* Estilo para quando o botão estiver em foco (clicado) */
    &:focus {
        outline: none; /* Remove a borda de foco padrão */
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); /* Adiciona uma sombra sutil quando em foco */
    }

    /* Estilo para quando o mouse estiver sobre o botão */
    &:hover {
        background-color: rgb(8, 8, 8); /* Cor de fundo alterada ao passar o mouse */
    }
}
#backToProfileButton{
    margin-top: 10px; /* Adiciona um espaço superior */
    background-color: #fa0000; /* Cor de fundo do botão */
    color: white; /* Cor do texto */
    border: none; /* Remove a borda */
    padding: 10px 20px; /* Espaçamento interno */
    border-radius: 5px; /* Borda arredondada */
    transition: background-color 0.3s; /* Adiciona uma transição suave na cor de fundo */

    /* Estilo para quando o botão estiver em foco (clicado) */
    &:focus {
        outline: none; /* Remove a borda de foco padrão */
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); /* Adiciona uma sombra sutil quando em foco */
    }

    /* Estilo para quando o mouse estiver sobre o botão */
    &:hover {
        background-color: rgb(8, 8, 8); /* Cor de fundo alterada ao passar o mouse */
    }
}