body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

h1 {
    margin-top: 20px;
}

#userProfile {
    margin: 20px;
    text-align: center;
}

#userPhoto {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin: 0 auto;
}

h2 {
    font-size: 24px;
    margin: 10px 0;
}

#userEmail {
    font-size: 18px;
}

label {
    font-weight: bold;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#saveProfileButton {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-top: 20px;
}

#saveProfileButton:hover {
    background-color: #45a049;
}

#saveProfileButton:focus {
    outline: none;
}

#profileCard {
    text-align: left;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    margin-top: 20px;
    max-width: 300px;
    margin: 0 auto;
}

.profile-container {
    position: relative;
    display: inline-block;
}

#editPhotoButton {
    position: absolute;
    bottom: 0px; /* Ajuste a distância inferior conforme necessário */
    right: -10px; /* Ajuste a distância direita conforme necessário */
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    font-size: 22px; /* Ajuste o tamanho do ícone conforme necessário */
    color: #12a59e; /* Ajuste a cor do ícone conforme necessário */
}

::-webkit-scrollbar{
    width: 12px;
    background-color: red;
}

::-webkit-scrollbar-thumb{
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}
