/* Adicione este trecho ao seu arquivo CSS (perfil.css) */
.navbar {
    background: linear-gradient(to bottom, red, black);
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 30px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
  }
  
  .navbar a {
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
    text-decoration: none;
    padding: 0px 20px;
    overflow: hidden;
    position: relative;
  }
  .navbar a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #ff8c00; /* Cor laranja */
    bottom: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s ease-in-out;
  }
  
  .navbar a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  .logoPrincipal {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
    margin-left: 10px;
  }
  
  .profile-pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 5px;
    margin-left: auto;
    background-size: cover;
    cursor: pointer;
    position: relative;
  }
  
  .profile-pic::before {
    content: '';
    position: absolute;
    top: 2px;
    bottom: 1px;
    left: 1px;
    right: 1px;
    border-radius: 50%;
    box-shadow: 0 0 10px 5px rgba(255, 128, 0, 0.918);
    opacity: 0;
    transition: opacity 0.3s ease, transform 0.3s ease;
  }
  
  .profile-pic:hover::before {
    opacity: 1;
    transform: scale(1.1);
  }
  
  .menu-dropdown {
    display: none;
    position: absolute;
    top: 50px;
    right: 10px;
    background-color: #333;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 1;
    transition: opacity 0.3s ease, transform 0.3s ease;
  }
  
  .menu-dropdown a {
    display: block;
    color: white;
    text-decoration: none;
    margin: 5px 0;
    font-size: 14px; /* Adjusted font size */
  }
  
  .menu-dropdown.show-menu {
    display: block;
    opacity: 1;
    transform: translateY(0);
  }
  
  .menu-icon {
    cursor: pointer;
    order: 100;
  }
  
  /* Body */
  body {
    margin: 80px;
    padding: 0;
    background: linear-gradient(to bottom, black, red);
    background-attachment: fixed;
    font-size: 16px; /* Adjusted font size */
  }
  
  /* Heading */
  h1 {
    text-align: center;
    margin-top: 100px;
    font-size: 36px;
  }

  @media (max-width: 768px) {
    #cardContainer {
      flex-direction: column; /* Exibe os cards em uma coluna em telas pequenas */
    }
    .file-modal-button {
      bottom: 10px;
      right: 10px;
    }
    .card {
      width: 100%; /* Ocupa toda a largura da tela em telas pequenas */
      margin: 10px 0; /* Adiciona um espaçamento entre os cards */
    }
  }
.container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.profile-header {
    text-align: center;
    padding: 20px 0;
    background-color:black;
    color: #ffffff;
}
#menuContainer {
    float: right;
    position: relative;
}
#userProfile {
    text-align: center;
    margin-top: 20px;
}

.profile-container {
    position: relative;
    display: inline-block;
}

#userPhoto {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

#editPhotoButton {
    position: absolute;
    bottom: 0;
    right: 0;
}

.btn-primary {
    background-color: black;
    border-color:black ;
}

.btn-danger {
    background-color: #050505;
    border-color: white;
}

#profileCard {
    margin-top: 20px;
    border: 1px solid #dee2e6;
    border-radius: 10px;
    overflow: hidden;
}

#profileCardHeader {
    background-color: black;
    color: #ffffff;
    padding: 10px;
}

#profileCardContent {
    padding: 20px;
}
