/* Adicione este trecho ao seu arquivo CSS (config.css) */

body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f2f5;
    margin: 0;
    padding: 0;
}

.logoPrincipal {
    width: 50px;
    height: 50px;
    margin-right: 20px;
}

#menuContainer {
    float: right;
    position: relative;
}


.config-container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    color: black;
}

section {
    margin-bottom: 20px;
}

form {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
}

label {
    font-weight: bold;
}

input, select {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-top: 5px;
}

button {
    background-color: black;
    color: #ffffff;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: black;
}
/* Adicione estas regras ao seu arquivo CSS (config.css) */

/* Ajuste a posição da caixa de seleção */
#notificationSettingsForm label[for="enableNotifications"] {
    display: flex;
    align-items: center;
}

#enableNotifications {
    margin-right: 10px;
}


